.App {
  padding: 10%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  margin: auto;
  width: 90%;
  background: black;
  background-size: auto;
  color: white;
  
}
.assetForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
 margin-left:0px ;
}
.dataFetch{
  display: flex;
  width: 100%;
  margin-left: 0px;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
 

}
.listItem{
  padding-top: 3px;
}
.dataList{
  list-style-type: none;
 }
.listCnt{
  height: 250px;
  overflow:auto;
  scrollbar-width: none;
}


input[type='text'],
input[type='email'],
input[type='number'],
input[type='data']{
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42;
  background: ltgray;
  background-image: none;
  border: 1px solid white;
  border-radius: 4px;
  margin-bottom: 20px;
}

.errorss{
 color: red;

}
button{
  height: 35px;
  background: lightgray;
  border-radius: 5px;
  padding: 3px;
  margin: 3px;
}
.tableCont{
  background-color: white;
  color: black;
  width: 100%;
  padding-top: 30px;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

}
table tdtable th {
  border: 1px solid #ddd;
  padding: 6px;
}
table tr:nth-child(even){background-color: #f2f2f2;}
table tr:hover {background-color: #ddd;}
table th, tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

.shopWindow{
width: 70%;
margin: auto;
border: 2px solid white;
display: flex;
flex-direction: horizontal;
flex-wrap: wrap;


}

.itemCard{
  width: 24%;
  height: 400px;
  background: white;
  color: black;
  border: 4px solid black;
  display: flex;
  flex-direction:column;
  align-items: center;
  margin: auto;


}

.cardWindow{
  width: 300px;
  height: 230px;
  margin-top: 0px;
  row-gap: 5px;
  column-gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;


}

.cardWindow #itemPic{
 max-width: 90%;
 height: auto;
 margin-top: 0px;
}
#description{

}

#price{

}